---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const blogs: any[] = await Astro.glob("./posts/blog/*");
blogs.sort((a, b) => {
  const date_a = new Date(a.date);
  const date_b = new Date(b.date);
  if (date_a > date_b) {
    return 1;
  } else {
    return -1;
  }
  return 0;
});
---

<Layout title="Blog Posts">
  <ul>
    {
      blogs.map((i) => (
        <li>
          <Card
            title={i.frontmatter.title}
            body={i.frontmatter.description}
            href={i.url}
          />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
  }
  li {
    list-style: none;
    padding: 0;
    margin: 3rem 2rem;
    height: fit-content;
  }
</style>
