---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meow">
  <h1>Hello! Nice to meet ya :)</h1>
  <article>
    <p>
      I am Ayush Chaudhari, and you have reached my personal home page. You can
      find me on GitHub <a href="https://github.com/the-bokya">here</a>.
    </p>
    <p>
      This site is currently a work in progress as I am in the process of
      migrating it from my previous setup.
    </p>
    <p>Anyways, my blogs are on the right⬏</p>
  </article>
</Layout>
