---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meow">
  <h1>Hello! Nice to meet ya :)</h1>
  <article>
    <p>
      I am Ayush Chaudhari, and you have reached my personal home page. You can
      find me on GitHub <a href="https://github.com/the-bokya">here</a>, or mail me <a href="mailto:ayushschaudhari1904@gmail.com">here</a>.
    </p>
    <p>Anyways, my blogs are on the right⬏</p>
  </article>
</Layout>
