---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meow">
  <h1>Hello! Nice to meet ya :)</h1>
  <article>
    <p>
      I am Ayush Chaudhari, and you have reached my personal home page <a
        href="https://en.wikipedia.org/wiki/PHP"
        >(that's what PHP stood for for a long time!)</a>
    </p>
    <p>
      This site is currently a work in progress as I migrate it from my previous
      setup.
    </p>
    <p>Anyways, my blogs are on the right⬏</p>
  </article>
</Layout>
