@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@300;700&family=Playfair+Display:ital,wght@0,900;1,900&family=Roboto+Slab:wght@300;500&family=Sacramento&display=swap");
html,
body {
  margin: 0;
  height: 100%;
  font-size: 1.3rem;
  background-color: var(--bg-color);
  overflow-x: hidden;
}
:root {
  --heading: #fb4934;
  --base-text: #8ec07c;
  --logo-text: #d9d9d9;
  --nav-items: #8ec07c;
  --bg-color: #282828;
  --nav-height: 20vh;
  --footer-height: 20vh;
}
* {
  transition: 0.125s ease;
  box-sizing: border-box;
}
*::selection {
  background-color: #ff00ae6c;
  backdrop-filter: blur(20px);
  text-shadow: 0 0 2px black;
}
.top {
  font-family: "Lobster Two", cursive;
  color: var(--logo-text);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  flex-basis: 10rem;
}
.logo {
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.2s bezier(0.46, 0.05, 0.08, 1.48);
}
a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
}
#line {
  width: 40%;
  height: 4px;
  position: relative;
  top: -0.225em;
  background-color: rgb(229, 61, 61);
  margin: auto;
  border-radius: 10rem;
}
.logo:hover #line {
  width: 100%;
}
.hamburger {
  position: fixed;
  left: 0.25rem;
  top: 0.25rem;
  z-index: 21;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger:hover > * {
  box-shadow: 0 0 5px black;
}
#one,
#two {
  height: 0.15rem;
  width: 1rem;
  background-color: var(--nav-items);
  display: block;
  border-radius: 4rem;
  position: absolute;
}
#one {
  transform: translate(0, -0.25rem);
}
#two {
  transform: translate(0, 0.25rem);
}
#one.one-down {
  transform: rotate(45deg);
}
#two.two-down {
  transform: rotate(-45deg);
}
nav {
  gap: 0.5rem;
  display: flex;
  font-family: "Lobster", cursive;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  flex-flow: wrap column;
  margin: 0;
  background-color: rgba(34, 34, 34, 0.284);
  position: fixed;
  backdrop-filter: blur(20px);
  opacity: 0;
  top: -100%;
  text-align: center;
  z-index: 20;
  border-radius: 0 0 10rem 10rem;
  font-size: 1em;
  transition: 0.25s ease;
}

nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-flow: column wrap;
  flex: 1 0;
  font-size: 1em;
  color: var(--nav-items);
}
nav li:hover {
  transform: scale(1.2);
}
.icon {
  height: 1em;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: max-content;
  width: 100%;
  z-index: 3;
  position: relative;
}
article {
  width: min(600px, 100%);
  height: 100%;
  padding: 0rem 1.5rem;
  display: block;
}
#follower {
  width: 7em;
  height: 12rem;
  animation: rotate-cursor 10s linear infinite;
  background: rgb(173, 178, 214);
  background: linear-gradient(
    45deg,
    rgba(205, 211, 255, 1) 0%,
    rgba(88, 99, 204, 1) 52%,
    rgba(212, 89, 60, 1) 96%
  );
}
#follower2 {
  width: 9rem;
  height: 6rem;
  animation: rotate-cursor 6.5s ease reverse infinite;
  background: rgb(13, 11, 77);
  background: linear-gradient(
    45deg,
    rgba(39, 38, 81, 0.75) 0%,
    rgba(255, 196, 95, 0.75) 67%
  );
}
#follower,
#follower2 {
  filter: blur(100px);
  border-radius: 10rem;
  display: block;
  position: fixed;
  transform-origin: 0% 0%;
  transition: top 0s, left 0s, opacity 0.25s;
  rotate: 43deg;
}
#follow-container {
  position: fixed;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.25s ease;
  left: 0;
  top: 0;
}
@keyframes rotate-cursor {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
#content {
  z-index: 5;
}

.menu-down {
  opacity: 100%;
  top: 0%;
  border-radius: 0;
}

/* article's text */

article h1,
article h2,
article h3 {
  text-align: center;
  color: var(--heading);
  font-family: "Playfair Display", serif;
  text-shadow: 0 0 5px black;
  margin: 3rem 0;
}
article h1 {
  font-size: 2rem;
}
article h2 {
  font-size: 1.6rem;
}
article h3 {
  font-size: 1.2rem;
}
article {
  font-family: "Roboto Slab", serif;
  text-align: justify;
  word-wrap: break-word;
  font-size: 0.8rem;
  color: var(--base-text);
  text-shadow: 0 0 3px black;
  font-weight: 300;
}
article strong {
  font-weight: 500;
}
article p a[href] {
  text-decoration: underline;
}
article a:link,
article a:visited {
  font-weight: 500;
}
article p a:hover {
  color: rgb(26, 141, 183);
  text-shadow: 0 0 2px rgb(33, 33, 33);
}
@media (min-width: 768px) {
  *,
  *::before,
  *::after {
    transition: 0.5s ease;
  }
  main {
    min-height: calc(100vh - var(--nav-height));
  }
  article {
    margin-bottom: auto;
  }
  nav {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    height: var(--nav-height);
    flex-flow: row;
    padding: 0rem 2rem;
    backdrop-filter: blur(0);
    background-color: rgb(0, 0, 0, 0);
    font-size: 0.7em;
    align-items: center;
    transition: 0.5s ease;
  }
  nav > ul {
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
  }
  .top {
    height: 100%;
    align-items: flex-start;
  }
  .hamburger {
    display: none;
  }
  a.icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
  }
}
footer {
  width: 100%;
  height: var(--footer-height);
  margin: 1.5rem auto auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  left: 0;
  cursor: pointer;
}
.bottom {
  text-align: center;
  font-family: "Lobster Two";
  color: var(--heading);
  font-size: 0.5em;
}
#footer-line {
  width: 20%;
  position: absolute;
  height: 0.0675rem;
  background-color: var(--base-text);
  top: 0;
  border-radius: 10rem;
}
footer:hover #footer-line {
  width: 30%;
}