<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link href="/style.css" rel="stylesheet" />
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="hamburger" id="hamburger" onclick="menu()">
  <div id="one"></div>
  <div id="two"></div>
  </div>
  </div>
  <nav id="navbar">
    <div class="top">
      <a class="logo" href="/">
        <span>the-bokya</span>
      <div id="line"></div>
      </a>
    </div>
    <ul>
      <li>
        <a href="/blog">Blog</a>

    </li>
    <li>
        <a href="/fiction">Fiction</a>
    </li>
      <li>
        <a href="https://www.github.com/the-bokya" class="icon-holder">
          <img src="/github.svg" class="icon" />
        </a>
      </li>
    </ul>
  </nav>
  <div id="follow-container">
    <div id="follower"></div>
    <div id="follower2"></div>
  </div>
  <main>
    <article id="content">
      {% block content %} {% endblock %}
    </article>
  </main>
  <footer>
    <div id="footer-line"></div>
   <p class="bottom">You've reached the bottom! Click to go to the top.</p>
  </footer>
  <script>
    const menu = () => {
      const bar = document.getElementById("navbar");
      const hamburger = document.getElementById("hamburger");
      const one = document.getElementById("one");
      const two = document.getElementById("two");
      bar.classList.toggle("menu-down");
      one.classList.toggle("one-down");
      two.classList.toggle("two-down");
    }
    


    const follower = document.getElementById("follow-container");
    const bg = (e, d, touch) => {
      let x, y;
      if (touch) {
        x = e.changedTouches[0].clientX;
        y = e.changedTouches[0].clientY;
      }
      else {
        x = e.clientX;
        y = e.clientY;
      }
        follower.animate({
        left: x+"px",
        top: y+"px",
        }, {duration: d, fill: "forwards"});
    };
    const touchStart = (e) => {
      follower.style.opacity = "30%";
      let x = e.targetTouches[0].clientX;
      let y = e.targetTouches[0].clientY;
      follower.style.top = y + "px";
      follower.style.left = x + "px";
      console.log("meow");
    };
    if ("ontouchstart" in window) {
      document.body.ontouchstart = event => touchStart(event);
      document.body.ontouchend = () => (follower.style.opacity = "0%");
      document.body.ontouchmove = event => bg(event, 400, true);
    }
    else {
    document.body.onpointermove = event => bg(event, 3000, false);
    document.body.onpointerenter = () => (follower.style.opacity = "30%");
    document.body.onpointerleave = () => (follower.style.opacity = "0%");
    }
    footer = document.querySelector(".bottom");
    footer.addEventListener("click", () => {
      document.body.scrollTo({top: 0, left: 0, behavior:"smooth"});
    })
  </script>
</body>
</html>
