---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import type NavLink from "./NavProp";
import Footer from "./Footer.astro";
const pages: NavLink[] = [
  { title: "Home", link: "/" },
  { title: "Blog", link: "/blogs" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar pages={pages} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  article {
    text-align: justify;
    word-wrap: break-word;
  }
  main a {
    text-decoration: none;
    color: rgb(0, 255, 123);
    text-shadow:
      0px -2px 3px rgb(255, 15, 15),
      0 1px 6px rgb(187, 182, 255);
  }
  html {
    background-color: black;
    box-sizing: border-box;
  }
  h1 {
    font-family: "Space Mono", monospace;
    font-size: 3em;
    color: white;
    text-align: justify;
    text-shadow:
      0 -2px 10px red,
      0 -4px 10px rgba(21, 255, 0, 0.34),
      0px 5px 20px rgba(255, 0, 162, 0.701);
  }
  body {
    display: grid;
    grid-template-rows:
      [top-start] 7rem [top-end main-start] minmax(calc(100vh - 18rem), 100%)
      [main-end footer-start] 9rem [footer-end];
    grid-template-columns:
      [body-start] 1fr [main-start nav-start] min(95%, 800px)
      [main-end nav-end] 1fr [body-end];
    gap: 2rem 0;
    margin: 0;
    padding: 0;
  }
  main {
    grid-column: main-start / main-end;
    grid-row: main-start / main-end;
    color: white;
    font-family: "Space Mono", monospace;
    width: 100%;
    height: max-content;
  }
</style>
